@font-face {
    font-family: "Museo100";
    src: url("../fonts/Museo100-Regular.OTF");
}

@font-face {
    font-family: "Museo700";
    src: url("../fonts/Museo700-Regular.otf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Thin";
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Courgette-Regular";
    src: url("../fonts/Courgette-Regular.ttf");
}

@font-face {
    font-family: "Amaranth-Regular";
    src: url("../fonts/Amaranth-Regular.ttf");
}

.museo100 {
    font-family: "Museo100";
}

.museo300 {
    font-family: "Museo300";
}

.museo500 {
    font-family: "Museo500";
}

.museo700 {
    font-family: "Museo700";
}

.montserrat-bold {
    font-family: "Montserrat-Bold";
}

.montserrat-bold {
    font-family: "Montserrat-Bold";
}

.montserrat-thin {
    font-family: "Montserrat-Thin";
}

.courgette-regular {
    font-family: "Courgette-Regular";
}

.amaranth-regular {
    font-family: "Amaranth-Regular";
}